<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Balance de Ingresos y Egresos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Agrega el enlace al archivo CSS personalizado -->
    <link href="/static/estilos.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
</head>
<body class="custom-body flex">
    <div class="flex justify-center items-center h-screen w-full">
        <div class="bg-white rounded-lg shadow-lg p-12 max-w-xl">
            <h1 class="text-4xl font-bold mb-8 font-rowdies">Balance de Ingresos y Egresos</h1>
            
            <div class="p-6">
                <div class="flex flex-col text-2xl mb-6">
                    <div class="flex justify-between mb-4">
                        <span>Total de Ingresos:</span>
                        <span class="font-semibold text-green-500">${{ total_ingresos }}</span>
                    </div>
                    <div class="flex justify-between mb-4">
                        <span>Total de Egresos:</span>
                        <span class="font-semibold text-red-500">${{ total_egresos }}</span>
                    </div>
                    <div class="flex justify-between">
                        <span>Balance:</span>
                        <span class="font-semibold">${{ balance }}</span>
                    </div>
                </div>
                <div class="flex space-x-6">
                    <a href="/mostrar_datos" class="bg-green-500 hover:bg-green-700 text-white py-3 px-8 rounded-lg text-xl text-center mt-6 inline-block">Mostrar Registro</a>
                    <a href="/" class="bg-orange-700 hover:bg-orange-700 text-white py-3 px-8 rounded-lg text-xl text-center mt-6 inline-block">Volver al inicio</a> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>



