<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Agrega el enlace al archivo CSS personalizado -->
    <link href="/static/estilos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
<body class="custom-body">  
</head>
<body class="custom-body">
    <div class="flex justify-center items-center h-screen">
        <div class="flex flex-col items-center justify-center mx-8 my-16 bg-white rounded-lg shadow-lg">
            <img src="/static/PIRAPIRE.png" alt="Mi Imagen" class="w-96 h-96  mt-8">
            
            <div class="flex flex-col justify-center space-y-4 p-4">
                <a href="/cargar_datos" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-12 rounded-lg text-xl text-center">Cargar Datos</a> 
                <a href="/mostrar_datos" class="bg-yellow-500 hover:bg-yellow-700 text-white py-2 px-12 rounded-lg text-xl text-center">Mostrar Datos</a> 
                <a href="/balance" class="bg-green-500 hover:bg-green-700 text-white py-2 px-12 rounded-lg text-xl text-center">Balance</a> 
            </div>
        </div>
        
                </div>
            </div>
    
    
    </div>
</body>
</html>
